<div fxLayout="column" fxLayoutGap="10px">
  <a href="#" class=""><h3>{{overview.title}}</h3></a>
  <!-- <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="20px">
  </div> -->
  <p class="overview-description-p">{{overview.description | randomTextTruncate : 150 : 50}}</p>

  <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="20px">
    <div>
      <a href="#" class="overview-series-a">Series: <b>Re:zero</b></a>
      <br>
      <p-tag value="Allow Audible" severity="warning" [style]="{'font-family': 'Arial, Helvetica, sans-serif', 'margin-top':'8px', 'margin-bottom':'8px'}"></p-tag>

    </div>
    <p class="overview-creator-p">
      <a href="#" class="overview-creator-a">By: <b>{{overview.creator}}</b></a>
      <br>
      <span class="update-time-ago-span"><i>Updated 5 mins ago</i></span>
    </p>
  </div>
</div>
