<div class="search-div">
  <!-- <div fxLayout="row" fxLayoutAlign="space-between end"> -->
    <ul fxLayout="row wrap" fxLayoutAlign="start center">
      <a href="javascript:void(0);"><li class="options-li"><i class="pi pi-pencil"></i>&nbsp;&nbsp;<b>Novel</b></li></a>
      <a href="javascript:void(0);"><li class="options-li"><i class="pi pi-volume-up"></i>&nbsp;&nbsp;<b>Audible</b></li></a>
      <a href="javascript:void(0);"><li class="options-li"><i class="pi pi-comments"></i>&nbsp;&nbsp;<b>Discuss</b></li></a>
    </ul>
  <!-- </div> -->
  <!-- <p-tabMenu [model]="items"></p-tabMenu> -->
</div>
<div fxLayout="row" fxLayoutAlign="end center">
  <a href="javascript:void(0);" class="filter-by-li" (click)="handleFilterByClick($event)">
    <i class="pi pi-sliders-h"></i>&nbsp;&nbsp;Filter by&nbsp;&nbsp;
  </a>
</div>
<div class="search-filter-div"  *ngIf="showSearchFilter">
  <app-search-filter (searchFilterResultChanged)="handleSearchFilterChange($event)"></app-search-filter>
</div>

