ul {
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

li {
  list-style: none;
  display: inline-block;

  margin-right: 36px;

  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
}

a{
  text-decoration: none;
  color: rgb(48, 48, 48, 0.8);
}


.tab-active { color: rgb(247, 137, 47); }
.tab-active i { color: rgb(247, 137, 47); }
/* .tab-active .options-li{ border-bottom: 1px solid rgb(247, 137, 47, 0.6); } */


ul a:hover{ color: rgb(247, 137, 47, 0.6); }
ul a:hover i { color: rgb(247, 137, 47, 0.6); }
/* ul a:hover .options-li{ border-bottom: 1px solid rgb(247, 137, 47, 0.6); } */


i{
  color: rgb(48, 48, 48, 0.8);
  font-size: 12px;
}

.search-filter-div{
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 5px;
  margin-bottom: 5px;

  padding: 8px;
  border: 1px solid rgba(196, 196, 196, 0.7);
  background-color: #E4E0E0;
}

.filter-by-li{
  font-size: 12px;

  min-width: 100px;
  text-align: left;
}
