ul {
  padding: 0px;
  margin-top: 5px;
  margin-bottom: 0px;
  border-bottom: 1px solid rgba(196, 196, 196, 0.7);
}

li {
  list-style: none;
  display: inline-block;

  font-size: 16px;

  padding-top: 10px;
  padding-right: 25px;
  padding-bottom: 10px;

  position: relative;
  top: 1px;
}

a{
  text-decoration: none;
  color: #303030;
}


.tab-active { color: rgb(247, 137, 47); }
.tab-active i { color: rgb(247, 137, 47); }
.tab-active .options-li{ border-bottom: 1px solid rgb(247, 137, 47, 0.6); }


ul a:hover{ color: rgb(247, 137, 47, 0.6); }
ul a:hover i { color: rgb(247, 137, 47, 0.6); }
ul a:hover .options-li{ border-bottom: 1px solid rgb(247, 137, 47, 0.6); }


i{ color: #303030; }

.search-filter-div{
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 5px;
  margin-bottom: 5px;

  padding: 8px;
  border: 1px solid rgba(196, 196, 196, 0.7);
  background-color: #E4E0E0;
}

.filter-by-li{
  font-size: 15px;

  min-width: 100px;
  margin-top: 5px;
  text-align: right;
}
