<div class="search-div">
  <ul fxLayout="row wrap" fxLayoutAlign="start center">
    <li *ngFor="let tab of tabsConfig">
      <a  [className]="tab.code === tabResult ? 'tab-active' : 'tab-inactive'"
          (click)="handleTabClick(tab.code)"
          href="javascript:void(0);">
        <b>{{tab.name}}</b>
      </a>
    </li>
  </ul>
  <br>
  <div fxLayout="row" fxLayoutAlign="start center">
    <a href="javascript:void(0);" class="filter-by-li" >
      <i class="pi pi-sliders-h"></i>&nbsp;&nbsp;Filter By
    </a>
  </div>
</div>


<div class="search-filter-div"  *ngIf="showSearchFilter">
  <app-search-filter (searchFilterResultChanged)="handleSearchFilterChange($event)"></app-search-filter>
</div>


