<div class="search-container" >
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
      <img src="https://i.ibb.co/xmjv9Fg/evening-brew-1.png" style="height: 33px; width: 100px;">
      <app-search-bar></app-search-bar>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
      <button
          style="padding: 0px; color: #ffffff;"
          pButton pRipple
          type="button"
          icon="pi pi-sliders-h"
          class="p-button-raised p-button-text"
          (click)="handleFilterByClick($event)">
      </button>
      <button
          style="padding: 0px; color: #ffffff;"
          pButton pRipple type="button"
          icon="pi pi-bars"
          class="p-button-raised p-button-text">
      </button>
    </div>
  </div>

</div>








