<app-section-header
    [tabs]="tabs"
    [(activeTab)]="activeTab"
    [section]="section"
    [lastUpdatedAt]="lastUpdatedAt">
</app-section-header>
<div class="bookmark-table">
  <p-table
      [value]="tableConfigs"
      [paginator]="false"
      [rows]="10"
      [showCurrentPageReport]="true">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 242px;">Title</th>
        <th style="width: 242px;">Series</th>
        <th style="width: 150px;">View</th>
        <th style="width: 242px;">Options</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-tableConfig>
      <tr>
        <td style="width: 242px;">{{tableConfig.title}}</td>
        <td style="width: 242px;">{{tableConfig.series}}</td>
        <td style="width: 150px;">{{tableConfig.view}}</td>
        <td style="width: 242px;">
          <span>
            <a>
              <i class="pi pi-directions" style="font-size: 12px;"></i>
              View
            </a>
          </span>
          &nbsp;&nbsp;
          <span>
            <a>
              <i class="pi pi-trash" style="font-size: 12px;"></i>
              Delete
            </a>
          </span>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<br>
<div style="position: sticky; left: 0px;">
  <p-paginator
      #bookmark_paginator
      [rows]="10"
      [totalRecords]="tableConfigs.length"
      (onPageChange)="handleContentsPaginatorChange($event)"
      [showJumpToPageDropdown]="true"
      [showPageLinks]="false">
  </p-paginator>
</div>

