.banner-div{ background-color: #f7892f; }
.request-progress-div{
  background-color: #FFC107;
  color: #303030;
  font-family: Arial, Helvetica, sans-serif;

  padding-left: 15px;
  padding-bottom: 20px;
  padding-right: 10px;
}

img{
  height: 55px; width: 80px;
  margin-left: 28px;
  background-color: #f7892f;
}



