.pi-chip{
  color: #5D95CB;
  background-color: #E1ECF4;
  padding-left: 10px;
  padding-right: 10px;
  padding: 6px;
}

.pi-chip-label{
  font-size: 14px;
}

a{
  text-decoration: none !important;
  font-size: 8px;
}

i{
  color: #495057;
}
