:host ::ng-deep .p-menu .p-menuitem-link .p-menuitem-text{
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;

  margin-left: 20px;
}

:host ::ng-deep .p-menu{
  border-left: 0px;
  border-right: 0px;
}

:host ::ng-deep .p-menu .p-menuitem-link.active{
  border-left: 3px solid black;
  padding-left: 13px;
}

:host ::ng-deep .p-menu .p-menuitem-link:focus{
  box-shadow: none;
}
