<div class="main-panel">
  <app-search-bar class="search-bar-app"></app-search-bar>
  <div class="left-panel">

      <div class="search-option-div">
        <app-search-option></app-search-option>
      </div>

      <div class="overviews-div">
        <app-overviews [overviews]="overviews"></app-overviews>
        <p-paginator
            #post_paginator
            class="post-paginator"
            [rows]="pageSize"
            [totalRecords]="totalCount"
            (onPageChange)="changePage($event)"
            [showJumpToPageDropdown]="true"
            [showPageLinks]="false">
        </p-paginator>
      </div>
  </div>



  <div class="right-panel">
  </div>

</div>

