.main-panel{
  margin-left: 25px;
  margin-right: 25px;
  background-color: #e4e0e0;
  overflow-y: hidden;
}

.left-panel{
  padding-top: 58px;
  max-width: 600px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-variant: normal;
  background-color: #ffffff;
  height: 100vh;
  overflow-y: scroll;
}

.post-paginator{
  width: 300px;
}

.search-bar-app{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.search-option-div{
  background-color: #ffffff;
  margin: 15px;

  padding-bottom: 5px;
  margin-bottom: 15px;
  margin-top: 0px;
}

.overviews-div{
  background-color: #ffffff;
  margin: 25px;
  margin-top: 0px;
}

.sort-by-div{
  text-align: right;
  padding-bottom: 5px;
  margin-bottom: 20px;
  border-bottom: 1px solid #CED4DA;
}

.left-content{
  background-color: #ffffff;
}

a{
  text-decoration: none;
}


@media only screen and (max-width: 600px) {

  .main-panel{
    margin-left: 0px;
    margin-right: 0px;
  }

}




