.main-panel{
  overflow-y: hidden;
  overflow-x: hidden;

  margin-left: 25px;
  margin-right: 25px;

  background-color: #e4e0e0;
}

.left-panel{
  overflow-y: scroll;
  margin-top: 55px;

  width: 35%;
  min-width: 400px;
  height: calc(100vh - 58px);

  font-family: Arial, Helvetica, sans-serif;

  background-color: #ffffff;
}

.right-panel{
  overflow-x: hidden;
  overflow-y: scroll;
  margin-top: 55px;

  width: 65%;
  height: calc(100vh - 58px);

  font-family: Arial, Helvetica, sans-serif;

  background-color: #e4e0e0;
}

.nav-banner-app{
  position: fixed;
  z-index: 999;
  left: 25px;
  top: 0px;

  width: calc(100% - 50px);
}

.search-option-div{
  background-color: #ffffff;
  margin: 15px;

  padding-bottom: 5px;
  margin-bottom: 15px;
  margin-top: 0px;
}

.overviews-div{
  background-color: #ffffff;
  margin: 25px;
  margin-top: 0px;
}

.sort-by-div{
  text-align: right;
  padding-bottom: 5px;
  margin-bottom: 20px;
  border-bottom: 1px solid #CED4DA;
}

@media only screen and (max-width: 600px) {

  .main-panel{
    margin-left: 0px;
    margin-right: 0px;
  }

}




