.main-panel{
  background-color: #ffffff;
  color: rgb(48, 48, 48);

  overflow-y: hidden;
  overflow-x: hidden;

  margin-left: 25px;
  margin-right: 25px;
}

.left-panel{
  font-family: 'Open Sans', sans-serif;
  background-color: #ffffff;

  min-width: 400px;
  max-width: 400px;

  height: 100vh;
  overflow-y: scroll;
}

.right-panel{
  font-family: 'Open Sans', sans-serif;
  background-color: #ffffff;

  height: 100vh;
  padding: 20px;
  margin-right: 20px;
  padding-right: 0px;
  padding-left: 0px;
  overflow-x: scroll;
}

.banner-container{
  background: rgb(6,7,13);

  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 6px;
  height: 49px;
}



