<div class="content-container">
  <app-content-meta></app-content-meta>
  <div class="content-text-container">
    <p><strong style="color: rgb(48, 48, 48), 0.8;">Introduction</strong></p>
    <br>
    <p>
      ―This is really bad.
He felt the hard floor against his cheek, and realized that he had collapsed onto his face.
His strength was completely gone, and he had already lost sensation in his fingers.
The heat from his core was so excruciating it made him want to tear his throat out.
―Hot, hot, hot, hot, hot, hot, hot.
The moment he opened his mouth to scream, what spilled forth was no shriek, it was a clump of blood.
He vomited up large quantities of his lifeblood as he coughed. Frothy blood started foaming up at the corners of his mouth as he gurgled. Within his dim field of view, the ground had been dyed red.
―Aah, this is all, my blood?
    </p>

  </div>

</div>


