ul { padding: 0; margin: 5px; }

li {
    list-style: none;
    padding: 0 20px;
    display: inline-block;
    border-left: 2px solid rgb(107, 107, 107, 0.4);
    margin: 10px 0;
}

a{ text-decoration: none; }

i{
  background: -webkit-linear-gradient(326deg,#ff4800 0%, #a4508b 74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

img{ height: 60px; width: 80px; margin-left: 2px; }
