ul { padding: 0; margin: 5px; }

li {
    list-style: none;
    display: inline-block;

    padding: 0 20px;
    margin: 10px 0;
}

a{
  text-decoration: none;
  color: #6B6B6B;
}

i{
  background: -webkit-linear-gradient(326deg,#ff4800 0%, #f7892f 74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.options-li{
  border-left: 2px solid rgb(107, 107, 107, 0.4);
  font-family: Arial, Helvetica, sans-serif;
}
.filter-by-li{
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;

  min-width: 100px;
  margin-bottom: 10px;
}
