ul {
  padding: 0;
  margin: 5px;
}

li {
  list-style: none;
  display: inline-block;

  font-size: 16px;

  padding: 0 14px;
  margin: 10px 0;
}

a{
  text-decoration: none;
  color: #303030;
}

i{
  background: -webkit-linear-gradient(326deg,#ff4800 0%, #f7892f 74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.search-filter-div{
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 5px;
  margin-bottom: 5px;

  padding: 8px;
  border: 1px solid rgba(196, 196, 196, 0.7);
  background-color: #E4E0E0;
}

.options-li{ border-left: 1px solid rgb(107, 107, 107, 0.4); }

.filter-by-li{
  text-align: right;

  font-size: 15px;

  min-width: 100px;
  margin-bottom: 10px;
}

/* .search-option-div{
  border-bottom: 1px solid rgba(196, 196, 196, 0.7);
} */
