<div class="search-option-div">
  <div fxLayout="row" fxLayoutAlign="space-between end">
    <ul>
      <a href="#"><li class="options-li"><i class="pi pi-cloud"></i>&nbsp;&nbsp;<b>Novel / Audible</b></li></a>
      <a href="#"><li class="options-li"><i class="pi pi-comments"></i>&nbsp;&nbsp;<b>Review / Analysis</b></li></a>
    </ul>
    <app-search-filter #search_filter></app-search-filter>
    <a href="#" class="filter-by-li" (click)="handleFilterByClick($event)"><i class="pi pi-sliders-h"></i>&nbsp;&nbsp;Sort by&nbsp;&nbsp;</a>
  </div>
</div>

