<div class="search-option-div">

  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
    <img class="logo-img" src="https://i.ibb.co/L6njyFQ/New-Project-6.png" alt="Boar Investor Logo">
    <p-autoComplete
        #autoCompleteSeries
        [dropdown]="true"
        [placeholder]="'Find by series...'"
        [inputStyle]="{'height': '36px'}">
    </p-autoComplete>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between center" >
    <ul>
      <a href="#" style="color: #6B6B6B"><li><i class="pi pi-video"></i>&nbsp;Read Through</li></a>
      <a href="#" style="color: #6B6B6B"><li><i class="pi pi-th-large"></i>&nbsp;Review/Analysis</li></a>
    </ul>
    <a href="#" style="color: #6B6B6B"><i class="pi pi-sliders-h"></i>&nbsp;Filter By&nbsp;&nbsp;</a>
  </div>

</div>

