.main-panel{
  background-color: #e4e0e0;

  overflow-y: hidden;
  overflow-x: hidden;

  margin-left: 25px;
  margin-right: 25px;
}

.left-panel{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;

  min-width: 400px;
  max-width: 400px;
  height: 100vh;
}

.right-panel{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;

  overflow-y: hidden;

  width: 100%;
  height: 100vh;
}

.discover-panel{
  height: calc(100vh - 61.7px);
  overflow-y: scroll;
}

.search-bar-container{
  height: 60px;
  background-color: #ffffff;
}

.search-container{
  background-color: #ffffff;

  padding-left: 12px;
  margin-top: 0px;
  margin-bottom: 5px;
}

.threads-container{
  background-color: #ffffff;

  margin-top: 0px;
  margin-bottom: 0px;
}

.thread-container{
  padding-bottom: 15px;
  padding-top: 10px;
  padding-left: 12px;
  padding-right: 12px;

  border-bottom: 1px solid rgba(196, 196, 196, 0.7);
}

.thread-container:last-child{ border-bottom: 0px solid rgba(196, 196, 196, 0.7); }

.threads-header{
  font-family: 'Source Sans Pro', sans-serif;
  color: rgb(48, 48, 48, 0.8);

  padding-left: 10px;
  margin-top: 0px;
  margin-bottom: 5px;
}

.filter-by-li{
  text-align: left;
  text-decoration: none;

  color: rgb(48, 48, 48, 0.8);
  font-size: 12px;

  min-width: 100px;
  margin-top: 5px;
  padding-left: 12px;
  padding-bottom: 10px;
}
.filter-by-li i{
  font-size: 12px;
}

.sort-by-div{
  text-align: right;

  padding-bottom: 5px;
  margin-bottom: 20px;

  border-bottom: 1px solid #CED4DA;
}

.res.left-panel{
  display: none;
}

.contents-paginator-container {
  border-top: 1px solid rgba(196, 196, 196, 0.8);
  background-color: #ffffff;
}



.threads-paginator-container {
  border-top: 1px solid rgba(196, 196, 196, 0.8);
  border-right: 1px solid rgba(196, 196, 196, 0.8);

  background-color: #ffffff;
}

