<div class="main-panel">
  <app-banner></app-banner>
  <div fxLayout="row" fxLayoutAlign="start start">
    <div class="left-panel">

      <div class="discover-panel">
        <h2 class="threads-header">
          DISCOVER
        </h2>
        <div class="search-container">
          <app-search (searchResultChanged)="handleSearchChange($event)"></app-search>
        </div>

        <div class="threads-container">
          <div class="thread-container" *ngFor="let threadConfig of threadsConfig">
            <app-thread
                [threadConfig]="threadConfig"
                (lnhUserClick)="handleLnhUserClick($event)"
                (seriesClick)="handleSeriesClick($event)">
            </app-thread>
          </div>
        </div>
      </div>

      <div class="threads-paginator-container">
        <p-paginator
            #threadsPaginator
            [rows]="threadsPaginatorConfig.pageSize"
            [totalRecords]="threadsPaginatorConfig.totalElements"
            (onPageChange)="handleThreadsPaginatorChange($event)"
            [showJumpToPageDropdown]="true"
            [showPageLinks]="false">
        </p-paginator>
      </div>
    </div>
    <div class="right-panel">
      <app-content></app-content>
      <div class="contents-paginator-container">
        <p-paginator
            #contents_paginator
            [rows]="contentsPaginatorConfig.pageSize"
            [totalRecords]="contentsPaginatorConfig.totalElements"
            (onPageChange)="handleContentsPaginatorChange($event)"
            [showJumpToPageDropdown]="true"
            [showPageLinks]="false">
        </p-paginator>
        <br>
      </div>
    </div>

    <div class="res left-panel">
      <div class="search-container">
        <app-search></app-search>
      </div>
      <div class="threads-container">
        <div class="thread-container" *ngFor="let threadConfig of threadsConfig">
          <app-thread [threadConfig]="threadConfig"></app-thread>
        </div>
        <div>
          <p-paginator
              [rows]="threadsPaginatorConfig.pageSize"
              [totalRecords]="threadsPaginatorConfig.totalElements"
              (onPageChange)="handleThreadsPaginatorChange($event)"
              [showJumpToPageDropdown]="true"
              [showPageLinks]="false">
          </p-paginator>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>

