.main-panel{
  background-color: #e4e0e0;

  overflow-y: hidden;
  overflow-x: hidden;
  margin-left: 25px;
  margin-right: 25px;
}

.left-panel{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;

  overflow-y: scroll;
  margin-top: 55px;

  width: 35%;
  min-width: 400px;
  height: calc(100vh - 58px);
}

.right-panel{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;

  overflow-x: hidden;
  overflow-y: scroll;
  margin-top: 55px;

  width: 65%;
  height: calc(100vh - 58px);
}

.banner-app{
  position: fixed;
  top: 0px;
  left: 25px;
  z-index: 999;

  width: calc(100% - 50px);
}

.search-div{
  background-color: #ffffff;

  padding-bottom: 5px;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 0px;
  margin-bottom: 5px;
}

.threads-div{
  background-color: #ffffff;

  margin: 25px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.thread-div{
  margin-bottom: 16px;
  border-bottom: 1px solid rgba(196, 196, 196, 0.7);
}

.thread-div:last-child{
  border-bottom: 0px solid rgba(196, 196, 196, 0.7);
}

.sort-by-div{
  text-align: right;
  padding-bottom: 5px;
  margin-bottom: 20px;

  border-bottom: 1px solid #CED4DA;
}

.res.left-panel{
  display: none;
}

@media only screen and (max-width: 800px) {

  .banner-app{
    width: 100%;
    left: 0px;
  }

  .main-panel{
    margin-left: 0px;
    margin-right: 0px;
  }

  .left-panel{
    display: none;
  }

  .right-panel{
    display: none;
  }

  .res.left-panel{
    width: 100%;
    display: block;
  }

}

.content-paginator-div {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0px;

  margin-left: 30px;
  margin-right: 30px;
  border-top: 1px solid rgba(196, 196, 196, 0.7);

  background-color: #ffffff;
}

.post-paginator-div {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0px;

  margin-left: 20px;
  margin-right: 20px;
  border-top: 1px solid rgba(196, 196, 196, 0.7);

  background-color: #ffffff;
}
