<div class="content-meta">
  <div class="update-time-ago">
    <span>/Novel</span>&nbsp;&nbsp;<i>Updated at Mar 16 '21 at 6:13: PM </i>
  </div>
  <h1 class="content-title">
    <b>Re:Zero − Starting Life in Another World Vol.1</b>
  </h1>
  <div class="content-info">
    <div class="thread-rating-container">
      Rating&nbsp;&nbsp;<span>4.7 / 5</span>&nbsp;&nbsp;
    </div>
    <div class="content-series">
      <a href="javascript:void(0);">
          Series&nbsp;&nbsp;<span>Re:Zero − Starting Life in Another World</span>
      </a>
    </div>
    <div class="content-creator">
      <a  href="javascript:void(0);">
        Author&nbsp;&nbsp;<span>cchan</span>
      </a>
    </div>
  </div>
</div>
