<div class="content-title-info">
  <h2 class="content-title">
    RE:ZERO − STARTING LIFE IN ANOTHER WORLD VOL.1
  </h2>
  <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="0px">
    <a  href="javascript:void(0);"
        class="content-series-a">
        Series: <span>Re:Zero − Starting Life in Another World</span>
    </a>
    <p class="content-creator-p">
      <a  href="javascript:void(0);"
          class="content-creator-a">
        By: <span>cchan</span>
      </a>
      <br>
      <span class="update-time-ago-span">
        <i>Updated at Mar 16 '21 at 6:13: PM </i>
      </span>
    </p>
  </div>
</div>
