<p-dialog
    [(visible)]="visible"
    (visibleChange)="handleVisibleChange()"
    [style]="{width: '80vw'}"
    position="top">
  <ng-template pTemplate="header">
    <b>{{header}}</b>
  </ng-template>
    <app-eb-tab-menu [items]="tabs" [(activeItem)]="activeTab"></app-eb-tab-menu>
    <br>
    <div
        class="info-container" *ngIf="showInfo"
        fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="20px">

      <div fxLayout="row" fxLayoutAlign="start center">
        <div class="inline-h">Type:</div>
        &nbsp;&nbsp;
        <ul fxLayout="row wrap" fxLayoutAlign="start start"fxLayoutGap="20px">
          <li *ngFor="let type of editConfig.types">
            <p-checkbox
                [value]="type.code"
                [label]="type.name"
                [(ngModel)]="editResult.type">
            </p-checkbox>
          </li>
        </ul>
      </div>

      <div>
        <div class="inline-h">Title:</div>
        &nbsp;&nbsp;
        <input class="inline-input" type="text" placeholder="Enter a title" pInputText />
      </div>

      <div>
        <div class="inline-h">Series:</div>
        &nbsp;&nbsp;
        <input class="inline-input" type="text" placeholder="Enter a series" pInputText />
      </div>

      <div fxLayout="row" fxLayoutAlign="start start">
        <div class="inline-h">Description:</div>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <textarea
            [rows]="5" [cols]="50"
            class="inline-input"
            placeholder="Enter a description"
            pInputTextarea>
        </textarea>
      </div>

      <div fxLayout="row" fxLayoutAlign="start start">
        <div class="inline-h">Genres:</div>
        &nbsp;&nbsp;
        <ul
            class="genres-list"
            fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="5px">
          <li *ngFor="let genre of editConfig.genres">
            <p-checkbox
                [value]="genre.code"
                [label]="genre.name"
                [(ngModel)]="editResult.genres">
            </p-checkbox>
          </li>
        </ul>
      </div>


    </div>

    <div class="content-container" *ngIf="showContent">
      <div fxLayout="row wrap" fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
          &nbsp;&nbsp;
          <button
              pButton pRipple
              type="button" label="Insert"
              class="p-button-outlined p-button-info">
          </button>
          <button
              pButton pRipple
              type="button" label="Merge"
              class="p-button-outlined p-button-help">
          </button>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button
              pButton pRipple
              type="button" label="Delete"
              class="p-button-outlined p-button-danger">
          </button>
          <button
              pButton pRipple
              type="button" label="Delete with merge"
              class="p-button-outlined p-button-danger">
          </button>
        </div>


        <p-paginator
            #content_edit_paginator
            [rows]="10"
            [totalRecords]="1"
            [showJumpToPageDropdown]="true"
            [showPageLinks]="false">
        </p-paginator>
      </div>

      <p-editor [style]="{'height': '300px'}"></p-editor>
    </div>

  <p-footer>
    <button pButton type="button" label="Submit" ></button>
  </p-footer>

</p-dialog>
