ul {
  padding: 0;
  margin: 5px;

  width: 100%;
}

li {
  list-style: none;
  width: 150px;

  padding: 0 0px;
  margin: 5px 0;
}


table { padding-left: 6px; }

td{ padding-bottom: 10px; }

.content-editor-app{ font-family: Arial, Helvetica, sans-serif; }

.content-meta-dropdown-label-td{ width: 100px; }
.content-meta-dropdown-div{ padding-left: 10px; }


.series-warning-small{ padding-left: 10px; }
.series-warning-small p{
  margin-top: 0px;
  margin-bottom: 0px;
}


@media only screen and (max-width: 600px) {

  li{ display: block; }

  ul{
    max-height: 100px;
    overflow-y: scroll;
  }

}
