/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/primeng.min.css";
@import "primeng/resources/themes/bootstrap4-light-blue/theme.css";

body{
  margin: 0px;
  background-color: rgb(20,24,30);

  overflow-y: hidden;
}
