.thread-title-div{ padding-right: 20px; }

.thread-description-p{
  margin: 0px;

  font-size: 14px;
  color: rgb(48, 48, 48, 0.8);
}

p{
  line-height: 20px;
}

.thread-creator-a{
  color: rgb(48, 48, 48,0.8);
  font-size: 14px;
}

.thread-creator-a span{
  color: rgb(0,140,226);
  font-size: 14px;
}

.thread-series-a{
  color: rgb(48, 48, 48, 0.8);
  font-size: 14px;
}

.thread-series-a span{
  color: rgb(0,140,226);
  font-size: 14px;
}

.thread-creator-p{
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
}

.update-time-ago-span{ font-size: 12px;   color: rgb(48, 48, 48, 0.8);}

h4{
  color: rgb(48, 48, 48, 0.9);

  margin: 0px;
  margin-left: -1px
}

a{ text-decoration: none; }

