<div fxLayout="column" fxLayoutGap="15px">
  <div fxLayout="column" fxLayoutGap="10px">
    <a href="#" class=""><h4>{{threadConfig.title}}</h4></a>
    <p class="thread-description-p">{{"Having recently become tutor to the hot-headed young Eris, Rudy is elated to be deemed worthy by the eccentric side of his family. But the Boreas household seems to have more than a few dark secrets, and" | randomTextTruncate : 100 : 25}}</p>
  </div>
  <div fxLayout="column" fxLayoutAlign="start start">
    <div>
      <a  href="javascript:void(0);"
          (click)="handleSeriesClick(threadConfig.series)"
          class="thread-series-a">
          Series: <span>{{threadConfig.series}}</span>
      </a>
    </div>
    <div class="thread-meta-container">
      <a  href="javascript:void(0);"
          (click)="handleLnhUserClick(threadConfig.lnhUser.useremail)"
          class="thread-creator-a">
          By: <span>{{threadConfig.lnhUser.username}}</span>
      </a>
      <br>
      <span class="update-time-ago-span">
        <i>Updated at {{threadConfig.editedAt | piTimeAgo }} </i>
      </span>
    </div>
  </div>
</div>
